<th:block th:include="fragments/header"/>

<hr>
<h2>Trade Assets</h2>
<hr>

<th:block th:if="${tradeStep == 1}">
    <form action="#" th:action="@{/trade/step2}" th:object="${wallet}" method="POST" class="row g-3">
        <div class="col-12">
            <label for="wallet" class="col-form-label">Select Source Wallet:</label>
            <select class="form-select" id="wallet" th:field="*{walletId}">
                <option th:each="thisWallet : ${walletList}" th:value="${thisWallet.getWalletId()}" th:text="${thisWallet.getWalletName()}"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-info float-end">Next</button>
        </div>
    </form>
</th:block>

<th:block th:if="${tradeStep == 2}">
    <form action="#" th:action="@{/trade/step3}" method="POST" class="row g-3">
        <input type="hidden" th:field="*{wallet}">
        <div class="col-12">
            <label for="walletCurrency" class="col-form-label">Select Source Asset:</label>
            <select class="form-select" id="walletCurrency" th:field="*{walletCurrency}">
                <option th:each="thisWalletCurrency : ${walletCurrencyList}" th:value="${thisWalletCurrency.getCurrencyId()}" th:text="${thisWalletCurrency.getCurrencyCrypto().getCryptoName()}"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-info float-end">Next</button>
        </div>
    </form>
</th:block>

<th:block th:include="fragments/footer"/>
