<th:block th:include="fragments/header"/>


<th:block th:if="${tradeStep == 1}">
    <hr>
    <h2>Trade Assets</h2>
    <hr>
    <form action="#" th:action="@{/trade/step2}" th:object="${wallet}" method="POST" class="row g-3">
        <input type="hidden" th:field="*{transaction}">
        <div class="col-12">
            <label for="walletId" class="col-form-label">Select Source Wallet:</label>
            <select class="form-select" id="walletId" th:field="*{walletId}">
                <option th:each="thisWallet : ${walletList}" th:value="${thisWallet.getWalletId()}" th:text="${thisWallet.getWalletName()}"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-info float-end">Next</button>
        </div>
    </form>
</th:block>

<th:block th:if="${tradeStep == 2}">
    <hr>
    <h2>Source Wallet: <span th:text="${wallet.getWalletName()}"></span></h2>
    <hr>
    <form action="#" th:action="@{/trade/step3}" th:object="${transaction}" method="POST" class="row g-3">
        <input type="hidden" th:field="*{transaction}">
        <input type="hidden" th:field="*{wallet}">
        <div class="col-12">
            <label for="currencyId" class="col-form-label">Select Source Asset:</label>
            <select class="form-select" id="currencyId" th:field="*{transaction.currencyId}">
                <option th:each="thisWalletCurrency : ${walletCurrencyList}" th:value="${thisWalletCurrency.getCurrencyId()}" th:text="|${thisWalletCurrency.getCurrencyCrypto().getCryptoName()} (${#numbers.formatCurrency(thisWalletCurrency.getAmountUsd())})|"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-info float-end">Next</button>
        </div>
    </form>
</th:block>

<th:block th:include="fragments/footer"/>
